.headerSP.headerSP {
  background-image: initial;
  background-position: initial;
  background-repeat: initial;
  backdrop-filter: initial;
}
.maskGroup.maskGroup {
  position: initial;
}
.dSC008701.dSC008701 {
  background-image:/* webpackIgnore: true */ url('assets/dSC0087012.jpeg');
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/maskGroup2.svg');
  mask-image:/* webpackIgnore: true */ url('assets/maskGroup2.svg');
}
.about {
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  font-family: Rounded Mplus 1c, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon {
  width: 100%;
  height: 100%;
}
.card.card {
  box-shadow: 0px 4px 14px 0px #00000040;
}
._60f95161b382b3c00f3b3057_80_ca._60f95161b382b3c00f3b3057_80_ca {
  background-image:/* webpackIgnore: true */ url('assets/_60f95161b382b3c00f3b3057_80_ca2.png');
}
.card2.card2 {
  background-image: linear-gradient(180deg, #f929cbff 0%, #7b3ee0ff 91%, #8110f2ff 100%);
}
.about2 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: Noto Sans JP, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 252px;
  height: min-content;
  flex-direction: column;
}
._60f95161b382b3c00f3b3057_80_ca2._60f95161b382b3c00f3b3057_80_ca2 {
  background-image:/* webpackIgnore: true */ url('assets/_60f95161b382b3c00f3b3057_80_ca3.png');
}
.card3.card3 {
  background-image: linear-gradient(180deg, #479aa5ff 0%, #5473cbff 100%);
}
.about3 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: Noto Sans JP, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 252px;
  height: min-content;
  flex-direction: column;
}
._60f95161b382b3c00f3b3057_80_ca3._60f95161b382b3c00f3b3057_80_ca3 {
  background-image:/* webpackIgnore: true */ url('assets/_60f95161b382b3c00f3b3057_80_ca4.png');
}
.root {
  width: 375px;
  height: 1607px;
  max-height: 100%;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: #000;
}
.frame78 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
